<!DOCTYPE HTML>
<html>
	<head>
		<title>Ruby's Website</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="./static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">About Me</a></li>
							<li><a href="#two">Portfolio</a></li>
							<li><a href="#three">Contact</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Hi there, I'm Ruby</h1>
							<p>who loves Python development</p>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<!--<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
								<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								<!-- <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
								<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="#" class="image"><img src="./static/images/pic01.jpg" alt="" data-position="center center" /></a>
							<div class="content">
								<div class="inner">
									<h2>About Me</h2>
									<p>
                                        Hi. I'm Ruby. I'm from Taiwan.
                                        I currently work as a QA engineer, and I love to develop Python web development in my free time.
                                        My current job responsibilities include performing manual function test of API, App and Web,
                                        developing automation programs using Python, and creating data visualization using Python,
                                        and analyzing issues for root cause and transfer to appropriate teams.
                                    </p>
								</div>
							</div>
						</section>
						<section>
							<a href="#" class="image"><img src="./static/images/pic02.jpg" alt="" data-position="top center" /></a>
							<div class="content">
								<div class="inner">
                                    <h3>My Experience</h3>
                                    <ul>
                                        <li>QA Engineer</li>
                                        <li>Bachelor of Information Management  <a href="https://www.shu.edu.tw/">Shih Hsin University</a></li>
                                    </ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Portfolio</h2>
							<p>I love to develop Python web development or something in my free time.</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Convert PDF to Audiobook</h3>
									<p>Write a Python script that takes a PDF file and converts it into speech.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Text to Morse Code Converter</h3>
									<p>A text-based Python program to convert Strings into Morse Code.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Automate the Google Dinosaur Game</h3>
									<p>Write Python code to play the Google Dinosaur Game.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Personal Website</h3>
									<p>A website to show off your skills and the things you've built.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Custom API Based Website</h3>
									<p>Build a custom website using an API that you find interesting.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>An Online Shop</h3>
									<p>An eCommerce website with payment processing.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="https://github.com/rubylian13/python_practice" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Contact</h2>
							<p>I'm interested in Python development. Feel free to contact me.</p>
							<div class="split style1">
								<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field half">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="5"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="#">example@gmail.com</a>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="./static/assets/js/jquery.min.js"></script>
			<script src="./static/assets/js/jquery.scrollex.min.js"></script>
			<script src="./static/assets/js/jquery.scrolly.min.js"></script>
			<script src="./static/assets/js/browser.min.js"></script>
			<script src="./static/assets/js/breakpoints.min.js"></script>
			<script src="./static/assets/js/util.js"></script>
			<script src="./static/assets/js/main.js"></script>

	</body>
</html>